<template>
  <div v-if="blog" class="edit-form py-3">
    <p class="headline">Edit Post</p>

    <v-form ref="form" lazy-validation>
      <v-text-field
        v-model="blog.title"
        :rules="[(v) => !!v || 'Title is required']"
        label="Title"
        required
      ></v-text-field>

      <v-text-field
        v-model="blog.text"
        :rules="[(v) => !!v || 'Description is required']"
        label="Description"
        required
      ></v-text-field>

      <v-btn color="error" small class="mr-2" @click="deletePost">
        Delete
      </v-btn>

      <v-btn color="success" small @click="updatePost">
        Update
      </v-btn>
    </v-form>

    <p class="mt-3">{{ message }}</p>
  </div>

  <div v-else>
    <p>Please click on a Post...</p>
  </div>
</template>

<script>
import gql from "graphql-tag";

export default {
  name: "post",
  apollo: {
      blog(){
        return gql`query {
          blog(id: ${this.$route.params.id}) {
            id
            title
            text
          }
        }`
      }
  },
  
  data() {
    return {
      blog: null,
      message: "",
    };
  },
  methods: {
    async updatePost() {
      this.$apollo.mutate({
          mutation: gql`mutation {
            updateBlog(id: ${this.$route.params.id}, title: "${this.blog.title}", text: "${this.blog.text}") {
              id
              title
              text
            }
          }`
        }).then((data) => {
          // Result
          console.log(data)
          this.message = "Update Success.";
        }).catch((error) => {
          console.error(error)
      })
    },

    async deletePost() {
      this.$apollo.mutate({
          mutation: gql`mutation {
            deleteBlog(id: ${this.$route.params.id}) {
              id
              title
              text
            }
          }`
        }).then((data) => {
          // Result
          console.log(data)
          // window.location.href = '/';
          this.$router.push({ name: "posts"});
        }).catch((error) => {
          console.error(error)
      })
    },
  },
  mounted() {
    this.message = "";
  },
};
</script>

<style>
.edit-form {
  max-width: 50%;
  margin: auto;
}
</style>