<template>
  <v-row align="center" class="list px-3 mx-auto">
    <!-- 
    <v-col cols="12" md="8">
      <v-text-field v-model="title" label="Search by Title"></v-text-field>
    </v-col>

    <v-col cols="12" md="4">
      <v-btn small @click="searchTitle">
        Search
      </v-btn>
    </v-col>
 -->
    <v-col cols="12" sm="12">
      <v-card class="mx-auto" tile>
        <v-card-title>Posts</v-card-title>

        <v-data-table
          :headers="headers"
          :items="blogs"
          disable-pagination
          :hide-default-footer="true"
        >
          <template v-slot:[`item.actions`]="{ item }">
            <v-icon small class="mr-2" @click="editPost(item.id)">edit</v-icon>
            <v-icon small @click="deletePost(item.id)">delete</v-icon>
          </template>
        </v-data-table>

<!--         <v-card-actions v-if="blogs.length > 0">
          <v-btn small color="error" @click="removeAllPosts">
            Remove All
          </v-btn>
        </v-card-actions> -->
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import gql from "graphql-tag";

export default {
  name: "post-list",
  apollo: {
      blogs: gql`query {
        blogs {
          id
          title
          text
        }
      }`
  },
  data() {
    return {
      blogs: [],
      title: "",
      headers: [
        { text: "Title", align: "start", sortable: false, value: "title" },
        { text: "Description", value: "text", sortable: false },
        { text: "Actions", value: "actions", sortable: false },
      ],
    };
  },
  methods: {

    removeAllPosts() {
      
    },

    searchTitle() {
      
    },

    editPost(id) {
      this.$router.push({ name: "post-details", params: { id: id } });
    },

    deletePost(id) {
      this.$apollo.mutate({
          mutation: gql`mutation {
            deleteBlog(id: ${id}) {
              id
              title
              text
            }
          }`
        }).then((data) => {
          // Result
          console.log(data)
          // window.location.href = '/';
          this.$apollo.queries.blogs.refetch();
        }).catch((error) => {
          console.error(error)
      })
    },

    reloadData() {
      
    }
  },
  mounted() {
    this.$apollo.queries.blogs.refetch();
    console.log("Refetch data...");
  },
};
</script>

<style>
.list {
  max-width: 75%;
}
</style>